@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

body {
	background-color: #FFFBBC;
	color: #393939;
	font-family: 'Indie Flower', cursive;
	padding: 0;
	margin: 0;
}

section {
	text-align: center;
}

a {
	color: #000000;
	text-decoration: none;
}

section article h1 {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -100px;
	width: 100%;
	margin-left: -50%;
	font-size: 10em;
}

section footer a {
	position: absolute;
	bottom: 5%;
	font-weight: bold;
	font-size: 2em;
	left: 50%;
	width: 100%;
	margin-left: -50%;
}