<!-- A few snippets to create share button in your website -->
<!-- Change "URL_TO_SHARE" to the url that you want to share -->
<!-- github.com/gjuniioor/code-snippets -->

<p>
<em>
    Ajude seus coleguinhas compartilhando essa página com eles!
</em>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ full_url }}" title="Compartilhar no Facebook" target="_blank">Facebook</a>
    <a href="https://plus.google.com/share?url={{ full_url }}" title="Compartilhar no Google+" target="_blank">Google+</a>
    <a href="https://telegram.me/share/url?url={{ full_url }}&text={{ page.title | cgi_escape }}" title="Compartilhar no Telegram" target="_blank">Telegram</a>
    <a href="https://twitter.com/share?hashtags=#UFBA,#InfoUFBA&url={{ full_url }}" title="Compartilhar no Twitter" target="_blank">Twitter</a>
</p>
